

{{#each existingPost as |e|}}
<div class="card">
  <div class="bg-success">
    <div class="d-flex justify-content-between w-100" >
        <h5 class="card-header ">{{e.title}}  </h5> <p > <span>posted by: {{e.user.username}} {{ e.createdAt}}  </span> </p>
         
    </div>
  </div>
  <div class="card-body bg-info">    
    <p class="card-text">{{e.content}} .</p>
  </div>
</div>
{{/each}}

 <div>
       {{#if req.session.logged_in}}
        <p>You are signed-in</p>
      {{else}}
        <p>You are not signed-in</p>
      {{/if}} 
    </div>
